/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.black-page {
  background-color: black !important;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Customize the scrollbar */
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 1rem; /* Adjust the width as needed */
  background-color: white; /* Set the background color to white */
}

/* Customize the scrollbar track (indicator) */
::-webkit-scrollbar-track {
  background-color: black; /* Set the track background color to black */
  border-radius: 0; /* Set the track border-radius to 0 (square corners) */
}

/* Customize the scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
  background-color: white; /* Set the thumb color to white */
  border: 2px solid transparent; /* Optional: Add a border to the thumb */
  border-radius: 0; /* Set the thumb border-radius to 0 (square corners) */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Optional: Change thumb color on hover */
}
/* For Firefox */
/* Note: Firefox requires additional pseudo-elements */
/* You may need to adjust the style based on your needs */
/* Scrollbar Track */
/* Track */
/* Thumb */
/* Thumb when hovered */
/* Thumb when active */
